<div class="container">
  <header><img src="/images/life-story.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Create your own account:</h2>
    <div class="content">
      
      
      <form action="/signup" method="post" autocomplete="off">
        <label for="username">Usermame:</label>
        <input type="text" id="username" name="username" required>
                
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
          
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required>
              
        <button type="submit" value="submit">Sign up</button>
      </form>
    </div>
    
    <div class="sidebar">
      <h3>Already have an account?</h3><br>
      <form action="/login" method="post" autocomplete="off">
        <label for="username">Usermame:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required>
      
        <button type="submit" value="submit">Log in</button>
      </form> 
    </div>
    
  </div>
</div> 