<div class="container">
  <header><img src="images/life-story.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Write your story</h2>

    <div class="content">
      <form action="/" method="post" id="new">
        This is a story about <select id="category" name="category">
          <% Category.all.each do |category| %>
            <option value = "<% category.id %>"><%= category.name %></option>
          <% end %>  
        </select>.<br>
        
        I <input type="text" id="summary" name="summary" placeholder="did something" style="width:60%">.<br>
        
        It happened on <input type="date" id="date" name="date" style="width:30%">.<br>
        
        <textarea name="description" placeholder="I felt.." style="width:90%; height:400px;"></textarea>.
        <button type="submit" value="submit">Create story</button>
      </form>
    </div>
    
    <div class="sidebar">
      <p><a href="/">Back to homepage</a></p>
      <button onclick="location.href='/logout'">Log out</button>
    </div>
  </div>
</div>