<div class="container">
  <header><img src="images/life-story.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Sinatra Template Default Page</h2>

    <div class="content">
      <p>Welcome to the Sinatra Template! If you're seeing this page, then everything is working
      as expected. To get started, delete this file (<code>app/views/welcome.erb)</code> and begin adding
      your own actions to <code>application_controller.rb</code>. For more information, see the <a href="https://github.com/thebrianemory/corneal">README</a>.</p>
    </div>

    <div class="sidebar">
      <form action="/login" method="post">
        <p>
          <label for="username">Usermame:</label>
          <input type="text" id="username" name="username">
        </p>
        <p>
          <label for="password">Password:</label>
          <input type="text" id="password" name="password">
        </p>
      
        <button type="submit" value="submit">Log In</button>
        
      </form> 
    </div>

  </div>
</div>
