<div class="container">
  <header><img src="images/life-story.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>[əˈloːˌha] !</h2>

    <div class="content">
      <p>Welcome to Life Story, a place where important memories are kept.</p>
      <p>We can all so easily lose focus. We grow anxious about work, about time, about some inconsequential people and their comments, yet in the end, they do not matter.</p>
      <p>Let's keep us reminded of what really define us - those moments that we shared, we loved, we fought and made the right decision. </p>
    </div>

    <div class="sidebar">
      <form action="/login" method="post">
        <label for="username">Usermame:</label>
        <input type="text" id="username" name="username">
        
        <label for="password">Password:</label>
        <input type="text" id="password" name="password">
      
        <button type="submit" value="submit">Log in</button>
      </form> 
     
      <a href="/signup">Don't have an account?</a>
      
    </div>

  </div>
</div>
